.k-chat{
    background-color: #212121 !important;
    max-width: none !important;
    width: 100%;
    height: 100% !important;
}

.k-message-time{
    color: #FFFFFF !important;
}

.k-message-box{
    height: 100%
}

.k-timestamp{
    color: #FFFFFF!important;
}

.k-input-solid{
    background-color: #101f27 !important;
}

.k-author{
    color: #FFFFFF;
}

.k-input .k-input, .k-input .k-picker, .k-picker .k-input, .k-picker .k-picker {
    border-width: 0 !important;
    color: rgb(255, 255, 255) !important;
    background: none;
    font: inherit;
    outline: 0;
    box-shadow: none;
}